################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ElementaryConsole
/obj
/bin/Debug/netcoreapp3.0
